<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rb">
<insert id="add" parameterType="rvo">
		insert into reservation (tHtNum, tHtName, tHtGrade, tHtPrice, tHtImg, tHtWrtDt)
		values(todayHotel_seq.NEXTVAL, #{tHtName}, #{tHtGrade}, #{tHtPrice}, #{tHtImg}, sysdate )
	</insert>
	<delete id ="del" parameterType="int">
		delete from reservation where tHtNum=#{tHtNum}
	</delete>
	<update id="up" parameterType="rvo">
		update reservation 
		set tHtName=#{tHtName}, tHtGrade=#{tHtGrade}, tHtPrice=#{tHtPrice}, tHtImg=#{tHtImg}, tHtWrtDt=sysdate  
		where tHtNum=#{tHtNum}		
	</update>

	<select id="list" resultType="rvo">
		select * from reservation order by 1 desc
	</select>
	
	<select id="detail" parameterType="int" resultType="rvo">
		select Num, fname, lname, tel  from reservation where Num=#{Num}
	</select>
	
	<insert id="in" parameterType="rvo">
	insert into reservation (num,fname,lname,addr1,addr2,zip,tel,email,dates,atime,departure1,dtime,adult,children,content,card,cdate)
	VALUES(reservation_seq.nextVal,#{fname},#{lname},#{addr1},#{addr2},#{zip},#{tel},#{email},#{dates},#{atime},#{departure1},#{dtime},#{adult},
	#{children},#{content},#{card},#{cdate})
	</insert>

</mapper>